* {
  margin: 0;
  padding: 0;
}
body {
  width: 960px;
  margin: 0 auto;
  text-align: center;
  font-family: "Arial", sans-serif;
  color: #fcfcfc;
  background-color: #355664;
  display: block;
}

h1,
h2,
h3 {
  font-family: "forte", Arial, sans-serif;
}

h1 {
  font-size: 50px;
  padding: 10px 0 0;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

h2 {
  font-size: 40px;
  letter-spacing: 15px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 3px solid #416371;
  padding-bottom: 20px;
  color: #ffffff;
}

h3 {
  text-align: right;
  font-size: 30px;
  font-weight: normal;
  margin: 0 0 10px;
  color: #ffffff;
}

p {
  padding-bottom: 5px;
  color: #94c258;
  line-height: 20px; /* Thêm khoảng cách giữa các dòng */
  text-align: left;
  margin-right: 10px;
}

p + p {
  color: #ffffff;
}
img {
  border: none;
  width: 530px;
  height: 300px;
  object-fit: cover; /* Đảm bảo hình ảnh vừa vặn trong khung */
}

.article-content {
  margin: 10px 0; /* Tăng khoảng cách giữa các phần */
}

nav {
  background: #355664;
  padding: 15px;
  text-align: center; /* Căn giữa menu */
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #ffffff;
  font-size: 30px;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: underline;
}
nav ul a[title="sweet tabs"] {
  color: #8ec45b;
  font-size: 30px;
  text-transform: none;
  text-transform: capitalize;
}

nav ul li:first-of-type > a {
  color: #7cb3e9;
  font-size: 30px;
  text-transform: lowercase;
}

article {
  background-color: #213e4a;
  margin: 0 0 20px;
  padding: 20px;
  color: #ffffff;
}

.article-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-content {
  max-width: 100%;
}

figure {
  border: 3px solid #142830;
  float: right;
  height: 300px;
  width: 500px;
  margin-left: 5px;
  margin-right: 20px;
}

footer {
  border-top: 3px solid #142830;
  padding-top: 15px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 20px;
}
footer p {
  text-align: center;
  color: #ffffff;
}
