body {
  margin: 0;
  padding: 0;
  background: rgb(193, 190, 190);
}
nav ul {
  list-style: none;
  background: black;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  font-size: 24px;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  padding: 20px;
}
nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: red;
  text-decoration: underline;
}

article header:hover {
  color: greenyellow;
  font-size: larger;
}
tieu_de_phu {
  font-size: italic;
}
